/*Reseteo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body Settings*/
body {
    font-family: "ComicNeue-Bold.ttf";
    background-image: url("../assets/img/computer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Body Cards Background*/
.bodyCards {
    background-image: url("../assets/img/computer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Footer Settings*/
footer {
    font-family: "ComicNeue-Bold.ttf";
    margin: 10px;
}
/*Fonts*/
@font-face {
    font-family: "ComicNeue-Bold.ttf";
    src:url("../assets/font/ComicNeue-Bold.ttf");
}
@font-face{
    font-family: "Sriracha-Regular.ttf";
    src: url("../assets/font/Sriracha-Regular.ttf");
}
/*Title Fonts*/
h1, h2, h3, h4, h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3{
    font-size: 1rem;
}
h2{
    margin: 2%;
}

/*Logo Settings*/
.logo{
    text-align: center;
}
.logo1{
    width: 100px;
    height: 175px;
    border-radius: 5%;
    margin: 2.5%;
    transition: all 1s ease;
}
.logo1:hover{
    transform:scale(1.1, 1.1)
}
/*Inicio images*/
.img-thumbnail{
    width: 250px;
    height: 300px;
    margin: 50px;
    padding: 5px;
    transition: all 1s ease;
}
.img-thumbnail:hover{
    transform: scale(1.1, 1.1);
}
/*Text font family*/
.text-start {
    font-family: "ComicNeue-Bold.ttf";
}
/*Paragraph Background Image*/
.section1{
    padding: 30px;
    margin: 50px;
}
/*Paragraph Background Image*/
.section2{
    padding: 30px;
    margin: 50px;
}
/*Paragraph Background Image ABOUT US*/
.fondoAboutUs{
    padding: 30px;
    margin: 50px;
    font-family: "ComicNeue-Bold.ttf";
}
/*Form*/
.anchoForm{
    width: 30%;
}
/*Title Choose your plan*/
.card-accounts{
    border-radius: 5px;
    text-align: left;
    width: 300px;
    height: 60px;
}
/*Type of Cards*/
.card{
    display: inline-block;
    margin: 15px;
    padding: 10px;
}
/*Help text*/
.Help-questions-text{
    padding: 30px;
    margin: 50px;
}
/*Text in Security Page*/
.textSecurity{
    font-family: "ComicNeue-Bold.ttf";
    padding: 10px;
    margin: 30px;
}