/*Variables*/
$font-secundario: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@font-face {
    font-family: "ComicNeue-Bold.ttf";
    src:url("../assets/font/ComicNeue-Bold.ttf");
}
@font-face{
    font-family: "Sriracha-Regular.ttf";
    src: url("../assets/font/Sriracha-Regular.ttf");
}
/*Title Fonts*/
h1, h2, h3, h4, h5{
    font-family: $font-secundario;
}
h3{
    font-size: 1rem;
}
h2{
    margin: 2%;
}